.NFTPage {
  position: relative;
  background: radial-gradient(100% 40% at 0% 0%, #FEC8BE 0%, #FC91B4 30.73%, #FF7BB8 48.85%, #46A0FF 100%);
}

@media only screen and (max-width: 600px) {
  .NFTPage {
    background: radial-gradient(150% 20% at 0% 0%, #FEC8BE 0%, #FC91B4 30.73%, #FF7BB8 48.85%, #46A0FF 100%);
  }
}

.NFTPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  pointer-events: none;
  z-index: 11;
}
