@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

@layer base {
  html {
    font-family: Inter sans-serif;
  }

  body {
    font-size: 20px;
  }
}

@layer components {
  @responsive {
    .text-shadow-xs {
      text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    }

    .glow-top {
      box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.5);
    }

    .glass-glow {
      box-shadow: -1px -1px 0 rgba(255,255,255,0.4), 0 0 0 1px rgba(255,255,255,0.4);
    }

    .clipped {
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .floating {
      animation: float 6s ease-in-out infinite;
    }

    .shadow-animation {
      animation: shadow-animation 6s ease-in-out infinite;
    }

    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-20px);
      }
      100% {
        transform: translatey(0px);
      }
    }

    @keyframes shadow-animation {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(0.85);
        opacity: 0.8;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
